/*styles.css*/
body  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
    background-image: url("kuvat/taustakuva.jpg");
    background-size: cover;
    background-position: center;
    background-color: #b0876a ;
    color:darkslategray;
    
}
